<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Valor calculado</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
</head>
<body>
<div class="container">
    <h1>Valor calculado</h1>
    <hr>
    <div class="container">
        <form action="#" th:action="@{/contact(monthlyValue=${param.monthlyValue},numberMonthly=${param.numberMonthly},type=${param.type},carValue=${param.carValue})}" th:object="${contact}" method="POST">
            <h5>
            	<p>Tipo de financiamento: <label th:text="${param.type}" th:class="text-info"></label></p>
            	<p>N&uacute;mero de parcelas: <label th:text="${param.numberMonthly}" th:class="text-info"></label></p>
            	<p>O valor das parcelas &eacute;: <label th:text="${param.monthlyValue}" th:class="text-info"></label></p>
            	<p>O valor da viatura &eacute;: <label th:text="${param.carValue}" th:class="text-info"></label></p>
            </h5>
            <div class="row">
                <div class="col-md-5">
                    <label>Nome</label>
                    <input type="text" th:field="*{name}" placeholder="Nome"
                           class="form-control mb-4 col-4">
                    <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Contato</label>
                    <input type="text" th:field="*{contact}" placeholder="Contato"
                           class="form-control mb-4 col-4">
                    <p th:if="${#fields.hasErrors('contact')}" th:errorclass="error" th:errors="*{contact}" />
                </div>
            </div>

            <button type="submit" class="btn btn-info col-2">Salvar</button>
        </form>
    </div>
    <hr>
</div>
</body>
</html>
