<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="ISO-8859-1">
	    <title>Calculadora de Presta&ccedil;&atilde;o</title>
	    <link rel="stylesheet"
	          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	          crossorigin="anonymous">
	    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
	</head>
	<body>
		<div class="container">
		    <h1>Calculador de Presta&ccedil;&atilde;o</h1>
		    <hr>
		    <div class="container">
		        <form action="#" th:action="@{/calculate}" th:object="${loan}"
		              method="POST">
		            
		            <div class="row">
		                <div class="col-md-5">
		                    <label>Tipo de empr&eacute;stimo</label>
		                    <select th:field="*{financing.type}" id="typeLoan">
		                        <option th:value="'INTERNAL'" th:text="Interno"></option>
		                        <option th:value="'EXTERNAL'" th:text="Externo"></option>
		                    </select>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-5">
		                    <label>Quantidade de mensalidades</label>
		                    <select th:field="*{financing.numberMonthlyInstallments}" id="numberMonthlyInstallments">
		                        <option th:value="12" th:text="12"></option>
		                        <option th:value="24" th:text="24"></option>
		                        <option th:value="36" th:text="36"></option>
		                        <option th:value="48" th:text="48"></option>
		                        <option th:value="60" th:text="60"></option>
		                    </select>
		                    <!--  <input type="text" th:field="*{financing.numberMonthlyInstallments}" placeholder="Total de mensalidades"
		                           class="form-control mb-4 col-4">-->
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-5">
		                    <label>Valor de viatura</label>
		                    <input type="number" th:field="*{financing.carValue}" placeholder="Valor da viatura"
		                           class="form-control mb-4 col-4">
		                </div>
		            </div>
		            <button type="submit" class="btn btn-info col-2">Calcular</button>
		            <p th:if="${#fields.hasErrors('financing')}" th:errorclass="text-danger" th:errors="*{financing}" />
		        </form>
		
		    </div>
		    <hr>
		    <ul>
		<!--        <li th:each="err : ${#fields.errors('id')}" th:text="${err}" />-->
		<!--        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />-->
		    </ul>
		</div>
	</body>
</html>
